/* -----------------------------------------------------------------------------
 * Home header
 * -------------------------------------------------------------------------- */

 @media screen and (min-width: 48em) {
  .twentyseventeen-front-page.has-header-image .custom-header-media,
  .twentyseventeen-front-page.has-header-video .custom-header-media,
  .home.blog.has-header-image .custom-header-media,
  .home.blog.has-header-video .custom-header-media {
    height: 80vh;
  }

  .admin-bar.twentyseventeen-front-page.has-header-image .custom-header-media,
  .admin-bar.twentyseventeen-front-page.has-header-video .custom-header-media,
  .admin-bar.home.blog.has-header-image .custom-header-media,
  .admin-bar.home.blog.has-header-video .custom-header-media {
    height: calc(80vh - 32px);
  }

 }

.custom-header-media{
  background: url(https://2018.bari.wordcamp.org/files/2017/11/featured-bg-2.jpg);
  background-attachment: fixed;
  &:before {
    display:none;
  }

  .wp-custom-header{

    img{
      display: none;
    }

  }

}

.site-branding{
  margin-bottom: 72px !important;
  margin: 0 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;

  .wrap {
    background-color: white;
    border-radius: 100%;
    padding: 6% 10%;

    .custom-logo-link {
      padding: 0;
      &:hover {
       opacity: 1;
       transform: rotate(-5deg) scale(1.05);
     }

      img {
        max-height: 100% !important;
      }

    }

    .site-branding-text {

      .site-description {
        display: none;
      }

    }

  }



}

/* -----------------------------------------------------------------------------
 * Main navigation
 * -------------------------------------------------------------------------- */
.navigation-top{
  background-color: $blue;
  font-size: 20px;

  .wrap {
    padding-top: 0;
    padding-bottom: 0;
    #site-navigation{
      @include media( "tablet" ) {
        display: flex;
        justify-content: center;
      }
    }
  }

  .menu-main-container {
    background-color: $blue;

    #top-menu{
      background-color: $blue;
      .menu-item{
        a {
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          &:hover {
            background-color: #0c91de;
          }
        }
        &.current-menu-item {
          > a {
            color: white;
            background-color: #0c91de;
          }
        }
        &.ticket-menu {
          //margin-left: 4rem;
          a {
            padding: .4em 1.25em;
            background-color: #FF7F00;
            border-radius: 100px;
            text-transform: none;
            &:hover {
              background-color: $yellow;
            }
          }
        }
      }
    }
  }
  .menu-scroll-down {
    top: 0 !important;
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width:769px) {
  .navigation-top .menu-main-container #top-menu .menu-item.ticket-menu {
    margin-left: 4rem;
  }
}

/* -----------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */
 #colophon {
    border: none;
    background-color: $darkblue;

   &:before {
    content: '';
    background: white url('https://2018.bari.wordcamp.org/files/2017/11/footer-img_Tavola-disegno-1.png') center bottom no-repeat;
    display: block;
    height: 85px;
    padding-left: 3em;
    padding-right: 3em;
   }

    &>.wrap{
      @media all and (min-width: 769px){
        display: flex;
        align-items: flex-start;
      }

      .widget-area {
        padding: 0;
        margin: 0;

        .footer-widget-1{

          width: 100%;

          .widget_custom_html {
            margin-bottom: 0;
            text-align: center;

            .widget-title {
              font-family: 'Titillium Web', sans-serif;
              text-transform: none;
              color: white;
              font-size: 18px;
              font-weight: normal;
            }

            .custom-html-widget {
              display: flex;
              justify-content: center;

              a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                text-decoration: none;
                border: 1px solid white;
                color: white;
                border-radius: 100%;
                box-shadow: none;
                margin-right: 10px;
                &:last-child {
                  margin-right: 0;
                }
                &:hover {
                  color: $yellow;
                  border-color: $yellow;
                  box-shadow: none;
                }
              }

            }

          }

        }
      }

      .site-info {
        @media all and (min-width: 769px) {
          width: 50%;
        }
        padding: 0;
        margin: 0;
        text-align: center;
        color: white;

        a {
          font-size: 18px;
          color: white;
          &:hover {
            color: $yellow;
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 $yellow;
          }
        }

      }

    }

 }

/* -----------------------------------------------------------------------------
 * Pages
 * -------------------------------------------------------------------------- */
header.entry-header,
.entry-content {
  float: none !important;
  width: 100% !important;
}

.single-post .entry-title,
.page .entry-title {
  color: $red;
  text-align: left;

  @media screen and (min-width: 48em) {
    font-size: 3rem;
  }
}

.entry-title a {
  color: $red;
  box-shadow: none;
  &:hover {
    color: darken($red, 10%);
    box-shadow: none;
    text-decoration: underline;
  }
}

.page .panel-content .entry-title,
.page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
  color: $red;
  text-align: left;
  font-size: 2.5rem;
  @media all and (max-width: 600px) {
		font-size: 1.5rem;
	}
}

.entry-content h2 {
  color: #666;
  font-size: 1.6rem;
  text-transform: none;
  letter-spacing: 2px;
}

.entry-content h3 {
  color: #666;
  font-size: 1.4rem;
  text-transform: none;
}

h2#en-divider {
  font-size: 1.8rem;
  color: white;
  background-color: $darkblue;
  line-height: 1;
  padding: 15px 30px;
  display: inline-block;
}

hr {
  background-color: $blue;
}

/* -----------------------------------------------------------------------------
 * Sidebar & Widgets
 * -------------------------------------------------------------------------- */
h2.widget-title {
  color: $darkblue;
}


/* -----------------------------------------------------------------------------
 * Home page
 * -------------------------------------------------------------------------- */
.home {

  main > article > .panel-content > .wrap {
    padding: 0;
    margin: 0;
    max-width: 100%
  }

  header.entry-header{
    display: none; //uncomment when real home page will be online
  }

  .row {
    padding: 94px 0;
    text-align: center;
    .wrap {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 auto;
    }
    .wcbri-btn {
      margin-top: 46px;
    }
    h2 {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .row-1 {

    text-align: left;

    h2{
      color: $red;
      text-align: left;
    }

  }

  .row-2 {

    background-color: $blue;
    background-image: url('https://2018.bari.wordcamp.org/files/2017/11/pesci-onde-pattern_Tavola-disegno-1.png');

    h2,
    p {
      color: white;
    }

    .wcbri-btn {
      background-color: white;
      color: $blue;
      border: 1px solid white;
      &:hover {
        background-color: $blue;
        color: white !important;
        border: 1px solid white;
      }
    }

  }

  .row-3 {
    background: url('https://2018.bari.wordcamp.org/files/2017/11/cozze-pattern-bg_Tavola-disegno-1.jpg');
    background-attachment: fixed;
  }

  .row-4 {

    background-color: $yellow;

    h2,
    p {
      color: $darkblack;
    }

  }

  .row-5 {
    background: url('https://2018.bari.wordcamp.org/files/2017/11/pesci-rossi-pattern-bg.jpg');
    background-attachment: fixed;
  }

  .row-6{
    h2 {
      color: $red;
    }
  }

  #panel1 {
    .panel-content > .wrap {
    	max-width: 740px;
    	margin: 3rem auto;
    }
    header.entry-header {
    	display: block;
    }
    h2.entry-title {
    	font-size: 1.8rem;
    }
  }

  .panel-image {
  	display: none;
  }

}

/* -----------------------------------------------------------------------------
 * Navigation
 * -------------------------------------------------------------------------- */
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
  left: 0;
}

.navigation-top .menu-main-container #top-menu .sub-menu .menu-item a {
  color: inherit;

  &:hover {
    color: #fff;
  }
}

.navigation-top .menu-main-container #top-menu .sub-menu .menu-item.current-menu-item > a {
  color: white;
}

/* -----------------------------------------------------------------------------
 * Buttons
 * -------------------------------------------------------------------------- */
.wcbri-btn {

  display: inline-block;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background-color: $red;
  padding: 13px 28px;
  border: none;
  border-radius: 100px;
  box-shadow: none !important;

  &:hover {

    box-shadow: none !important;
    color: $red !important;
    background-color: white;

  }

}

button {
  background-color: $red;
  color: white;

  &:hover {
    color: white !important;
    background-color: lighten($red, 5%);
  }

}

/* -----------------------------------------------------------------------------
 * Tickets
 * -------------------------------------------------------------------------- */
.tix_tickets_table {

  tr {
    border-bottom-color: #d8d8d8;
    td {
      padding: 0.8em 0.4em;
    }
  }

}

@media (max-width:47.9375em) {
	.tix_tickets_table thead tr {
		display: none;
	}

	.tix_tickets_table tbody .tix-column-description {
		display: block;
		width: 100%;
	}

	.tix_tickets_table tbody .tix-column-price,.tix_tickets_table tbody .tix-column-quantity,.tix_tickets_table tbody .tix-column-remaining {
		display: block;
		float: left;
	}

	.tix_tickets_table tbody .tix-column-price,.tix_tickets_table tbody .tix-column-remaining {
		padding-top: 1rem;
		padding-bottom: 1rem;
		line-height: 1.5em;
		width: 30%;
	}

	.tix_tickets_table tbody .tix-column-quantity {
		width: 40%;
	}
}

/* -----------------------------------------------------------------------------
 * Organizers
 * -------------------------------------------------------------------------- */
.wcorg-organizer {
  margin-bottom: 3.5rem;
}
.wcorg-organizer-description {
  img {
    float: left;
    margin-right: 1rem;
  }
}

/* -----------------------------------------------------------------------------
 * Sponsor
 * -------------------------------------------------------------------------- */
.single-wcb_sponsor .single-featured-image-header {
	padding: 4rem;
}

.wcorg-sponsor-level-silver img {
  max-width: 65%;
}

.wcorg-sponsor-level-bronze img {
    max-width: 35%;
}

.wcorg-sponsor-level-supporter img {
    max-width: 20%;
}

.wcorg-sponsor {
  margin-bottom: 5rem;
}

.wcorg-sponsor-level-gold,
.wcorg-sponsor-level-silver,
.wcorg-sponsor-level-bronze,
.wcorg-sponsor-level-supporter {
  margin-bottom: 8rem;
  border-bottom: 1px solid #00b9ed;
}

/* -----------------------------------------------------------------------------
 * Attendees
 * -------------------------------------------------------------------------- */
 #tix-attendees .tix-columns-2 li {
  width: calc(50% - 20px);
  height: auto;
 }
 #tix-attendees .tix-columns-2 li:nth-child(odd) {
   margin-right: 20px;
 }

 #tix-attendees .avatar {
   width: auto;
   height: auto;
   margin-right: 15px;
 }

 #tix-attendees .tix-field {
   margin-left: none;
   font-size: 16px;
 }

 #tix-attendees .tix-attendee-name {
   font-size: 20px;
 }

 @media (max-width:768px) {
   #tix-attendees .tix-columns-2 li {
     width: 100%;
     margin-right: 0 !important;
   }
 }


/* -----------------------------------------------------------------------------
 * Misc
 * -------------------------------------------------------------------------- */

@media screen and (min-width: 67em) {
  .wrap {
      padding-left: 0;
      padding-right: 0;
  }
}

.wcfd-disabled-form #wcorg-login-message {
  strong {
    color: white;
  }
  margin: 1.4em;
  @media screen and (min-width: 470px) {
    margin: 1.4em;
  }
}
