/* -----------------------------------------------------------------------------
 * Home header
 * -------------------------------------------------------------------------- */

.custom-header-media{
  background: url(https://2018.bari.wordcamp.org/files/2017/11/featured-bg-2.jpg);
  background-attachment: fixed;
  &:before {
    display:none;
  }

  .wp-custom-header{

    img{
      display: none;
    }

  }

}

.site-branding{
  margin-bottom: 72px !important;
  margin: 0 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;

  .wrap {
    background-color: white;
    border-radius: 100%;
    padding: 6% 10%;

    .custom-logo-link {
      padding: 0;
      &:hover {
       opacity: 1;
       transform: rotate(-5deg) scale(1.05);
     }

      img {
        max-height: 100% !important;
      }

    }

    .site-branding-text {

      .site-description {
        color: $red;
        clip: auto;
        opacity: 1;
        left: 50%;
        font-family: 'Gloria Hallelujah', cursive;
        transform: translateX(-50%);
        font-weight: bold;
      }

    }

  }



}

/* -----------------------------------------------------------------------------
 * Main navigation
 * -------------------------------------------------------------------------- */
.navigation-top{
  background-color: $blue;
  font-size: 20px;

  .wrap {
    padding-top: 0;
    padding-bottom: 0;
    #site-navigation{
      @include media( "tablet" ) {
        display: flex;
        justify-content: center;
      }
    }
  }

  .menu-main-container {
    background-color: $blue;

    #top-menu{
      background-color: $blue;
      .menu-item{
        a {
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          &:hover {
            background-color: darken($blue, 10%);
          }
        }
        &.current-menu-item {
          a {
            background-color: darken($blue, 10%);
          }
        }
        &.ticket-menu {
          margin-left: 4rem;
          a {
            padding: .4em 1.25em;
            background-color: #FF7F00;
            border-radius: 100px;
            text-transform: none;
            &:hover {
              background-color: $yellow;
            }
          }
        }
      }
    }
  }
  .menu-scroll-down {
    top: 0 !important;
    background-color: rgba(255,255,255,.5);
  }
}

/* -----------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */
 #colophon {
    border: none;
    background-color: #0082C7;

   &:before {
    content: '';
    background: white url('https://2018.bari.wordcamp.org/files/2017/11/footer-img_Tavola-disegno-1.png') center bottom no-repeat;
    display: block;
    height: 85px;
    padding-left: 3em;
    padding-right: 3em;
   }

    &>.wrap{
      @media all and (min-width: 769px){
        display: flex;
        align-items: flex-start;
      }

      .widget-area {
        padding: 0;
        margin: 0;

        .footer-widget-1{

          width: 100%;

          .widget_custom_html {
            margin-bottom: 0;
            text-align: center;

            .widget-title {
              font-family: 'Titillium Web', sans-serif;
              text-transform: none;
              color: white;
              font-size: 18px;
              font-weight: normal;
            }

            .custom-html-widget {
              display: flex;
              justify-content: center;

              a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                text-decoration: none;
                border: 1px solid white;
                color: white;
                border-radius: 100%;
                box-shadow: none;
                margin-right: 10px;
                &:last-child {
                  margin-right: 0;
                }
                &:hover {
                  color: $yellow;
                  border-color: $yellow;
                  box-shadow: none;
                }
              }

            }

          }

        }
      }

      .site-info {
        @media all and (min-width: 769px) {
          width: 50%;
        }        
        padding: 0;
        margin: 0;
        text-align: center;
        color: white;

        a {
          font-size: 18px;
          color: white;
          &:hover {
            color: $yellow;
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 $yellow;
          }
        }

      }

    }

 }

/* -----------------------------------------------------------------------------
 * Pages
 * -------------------------------------------------------------------------- */
header.entry-header,
.entry-content {
  float: none !important;
  width: 100% !important;
}

.single-post .entry-title,
.page .entry-title {
  color: $red;
  text-align: left;
}

.entry-title a {
  color: $red;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    text-decoration: underline;
  }
}

.page .panel-content .entry-title,
.page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
  color: $red;
  text-align: left;
  font-size: 2.5rem;
  @media all and (max-width: 425px) {
		font-size: 1.5rem;
	}
}

/* -----------------------------------------------------------------------------
 * Sidebar & Widgets
 * -------------------------------------------------------------------------- */
h2.widget-title {
  color: $blue;
}


/* -----------------------------------------------------------------------------
 * Home page
 * -------------------------------------------------------------------------- */
.home {

  main > article > .panel-content > .wrap {
    padding: 0;
    margin: 0;
    max-width: 100%
  }

  header.entry-header{
    // display: none; //uncomment when real home page will be online
  }

  .row {
    padding: 94px 0;
    text-align: center;
    .wrap {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 auto;
    }
    .wcbri-btn {
      margin-top: 46px;
    }
    h2 {
      text-align: center;
    }
  }

  .row-1 {

    h2{
      color: $red;
    }

  }

  .row-2 {

    background-color: $blue;
    background-image: url('https://2018.bari.wordcamp.org/files/2017/11/pesci-onde-pattern_Tavola-disegno-1.png');

    h2,
    p {
      color: white;
    }

    .wcbri-btn {
      background-color: white;
      color: $blue;
      &:hover {
        background-color: $blue;
        color: white;
      }
    }

  }

  .row-3 {
    background: url('https://2018.bari.wordcamp.org/files/2017/11/cozze-pattern-bg_Tavola-disegno-1.jpg');
    background-attachment: fixed;
  }

  .row-4 {

    background-color: $yellow;

    h2,
    p {
      color: $darkblack;
    }

  }

  .row-5 {
    background: url('https://2018.bari.wordcamp.org/files/2017/11/pesci-rossi-pattern-bg.jpg');
    background-attachment: fixed;
  }

  .row-6{
    h2 {
      color: $red;
    }
  }

}

/* -----------------------------------------------------------------------------
 * Buttons
 * -------------------------------------------------------------------------- */
.wcbri-btn {

  display: inline-block;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background-color: $red;
  padding: 13px 28px;
  border: none;
  border-radius: 100px;
  box-shadow: none !important;

  &:hover {

    box-shadow: none !important;
    color: white !important;
    background-color: lighten($red, 5%);

  }

}

button {
  background-color: $red;
  color: white;

  &:hover {
    color: white !important;
    background-color: lighten($red, 5%);
  }

}
