// -----------------------------------------------------------------------------
// Stylesheet configuration.
//
// This file is entitles to define the configuration variables for spacing,
// responsive breakpoints, colors and fonts.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Spacing & breakpoints
// -----------------------------------------------------------------------------

$breakpoints: (
	"desktop": "screen and (min-width: 67em)",
	"tablet": "screen and (min-width: 48em)"
);

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$blue: #00b9ed;
$red: #f32d3e;
$yellow: #ffb400;
$black: #727272;
$darkblack: #3e3e3e;
$darkblue: #0082C7;


// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
// font-family: 'Titillium Web', sans-serif;
// font-family: 'Gloria Hallelujah', cursive;
html,body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 21px;
	line-height: 1.4;
	color: $black;
}

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
h1,
h2,
h3 {
	font-family: 'Gloria Hallelujah', cursive;
	color: $red;
}

h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	@media all and (max-width: 425px) {
		font-size: 1.5rem;
	}
}

h2 {
	font-size: 2.3rem;
	text-transform: uppercase;
	@media all and (max-width: 425px) {
		font-size: 1.3rem;
	}
}

h3 {
	font-size: 1.8rem;
	text-transform: uppercase;
	@media all and (max-width: 425px) {
		font-size: 1.15rem;
	}
}

li h3 {
	font-size: 1.375rem;
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	text-transform: none;
}

strong {
	font-weight: 600;
	color: $red;
}


// -----------------------------------------------------------------------------
// Misc
// -----------------------------------------------------------------------------
* {
	transition: all .25s ease-in-out !important;
}
